body {
    padding: 1em 150px;
}

.contenedor {
    border: 2px solid gray;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
}

input,
button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: .5em;
}

button {
    margin-left: 0;
}

input:focus,
button:focus {
    outline: 0;
}

input[type=button],
button {
    background-color: royalblue;
    color: white;
}

input[type=button]:hover,
button:hover {
    cursor: pointer;
    background-color: rgb(75, 120, 255);
}

.tabla {
    border-spacing: 0;
    border: 2px solid gray;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.tabla th,
.tabla td {
    width: 20%;
    padding: 10px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow: auto;
}

.tabla tr th:last-child,
.tabla tr td:last-child {
    border-right: none;
}

.tabla tr:last-child td {
    border-bottom: none;
}